.token {
  margin: 0;
  padding: 0.2em 0;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.8);
  white-space: pre-wrap;
  border: 1px solid rgba(34, 0, 0, 0.1);
}

.not_available {
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px dashed rgba(255, 0, 0, 0.5);
  color: rgba(255, 0, 0, 0.8);
  border-radius: 0.5em;
  padding: 0.4em 1em;
  display: inline-block;
}

h2 {
  white-space: pre-wrap;
}

.token:hover {
  filter: brightness(1.5);
}

.meta {
  margin: 0;
  padding: 0.2em 0;
  line-height: 1.6em;
  max-width: 50em;
}

.meta-info {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 1em;
}

.text-title {
  margin: 0;
  font-size: 1.2em;
  padding: 0.25em 0.5em;
  line-height: 1em;
  white-space: pre-wrap;
  border: 1px solid grey;
  border-bottom: none;
  background-color: #f1f1f1;
}

#search {
  padding: 0.3em 0.8em;
}

.code {
  margin: 0;
  padding: 0.1em 0;
  line-height: 1.6em;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.05);
  white-space: pre-wrap;
  border: 1px solid rgba(34, 0, 0, 0.1);
  font-family: "IBM Plex Mono", monospace;
}

#tooltip {
  position: absolute;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  white-space: pre-wrap;
  border-radius: 0.5em;
  font-size: 1.2em;
  line-height: 1.6em;
  text-align: center;
  display: none;
}

#tooltip:not([data-tooltip-persistent]) {
  pointer-events: none;
}

.container {
  max-width: 60em;
  margin: auto 0;
}

.token_string {
  border: 1px solid grey;
  padding: 0.5em;
  background-color: #f1f1f1;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

.collapsible {
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  border: 1px solid grey;
  border-top: none;
  border-bottom: none;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  border: 1px solid grey;
}

.section-header {
  margin: 0.5em 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1em;
  white-space: wrap;
}

#similar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.similar_neurons {
  max-width: 20em;
  text-decoration: none;
}

.meta-data {
  padding: 0 1em;
  border-left: 1px solid black;
}

.meta-data.first {
  border-left: none;
  padding-left: 0;
}

h1 {
  margin: 0.5em 0;
}

#search-message {
  margin: 0.5em 0;
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.5);
}

.results {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 40em;
}

.result {
  min-width: 9em;
  padding: 0.5em 0.2em;
  text-decoration: none;
  color: black;
}

.result:hover {
  color: rgba(0, 0, 0, 0.7);
}