[Unit]
Description=DeepDecipher
After=syslog.target network.target

[Service]
WorkingDirectory=/usr/local/bin/deepdecipher/prod/
ExecStart=/usr/local/nodejs/bin/node frontend/multi

Restart=on-failure

[Install]
WantedBy=multi-user.target

