[Unit]
Description=DeepDecipher Backend
After=syslog.target network.target

[Service]
WorkingDirectory=/usr/local/bin/deepdecipher/prod  	
ExecStart=/usr/local/bin/deepdecipher/prod/server /srv/deepdecipher/data.db -l logs

Restart=no

[Install]
WantedBy=multi-user.target

